*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    min-width: 320px;
}

a{
    text-decoration: none;
    background-color: transparent;
}

h3{
    font: 14px Times;
    font-weight: bold;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

strong{
    width: 700;
    font-family: 'Times', sans-serif;
    line-height: 2em;
    color: #343434;
    font-style: italic;
}

body{
    width: 100%;
}

ul{
    list-style: none;
}


@media(min-width:992px) and (max-width: 1199px){
#headerContainer{
    width: 970px !important;
}

.btn-form{
    margin: 0 auto;
}

.btn-form button{
    margin-bottom: 0px !important;
}
input{
    display: block ;
}
}

@media(min-width:768px)and (max-width: 991px){
#headerContainer{
        width: 750px !important;
}

.infor-detail, .study-detail{
    flex-direction: column;
}

#right-content>div>div>div>div{
    width: 100%;
}

.myForm div>div>div{
    width: 100%;
}

#headerContainer{
    width: 750px !important;
}

.btn-form{
    margin: 0 auto;
}

.btn-form button{
    margin-bottom: 0px !important;
}

}

@media (max-width: 767px) and (min-width: 320px){
#headerContainer{
    width: 100% !important;
    height: 50px;
}
#headerContainer img{
    display: block;
    width: 100%;
    height: 50px !important;
}

#left-content{
        display: none;
    }
.infor-detail{
        display: block;
}
#topMenu{
    width: 100%;
}

.infor-detail, .study-detail{
    flex-direction: column;
}

    
#right-content>div>div>div>div{
    width: 100% !important;
}

#topMenu{
    width: 100% !important;
    min-width: 0 !important;
    height: 50px !important;
    position: relative;
}

#navList{
    display: block !important;
}

#nav{
    position: absolute;
    width: 100%;
    display: none;
    top: 100%;
}
.itemMenu {
    display: block !important;
    width: 100% !important;
    text-align: left !important;
    background-color: rgb(233,233,237);
} 
.contentItem{
    position: relative;
}
.itemOfItem{
    z-index: 1;
    position: absolute;
}



.btn{
    display: block !important;
}

.btn-form{
    margin: 0 auto;
}

.btn-form button{
    margin-bottom: 0px !important;
}

.myForm div>div>div{
    width: 100%;
}

input, select{
    display: block;
}

}

#headerPane{
    border-top: 10px solid #9c1010;
    padding-top: 10px;
}

#headerContainer{
    height:100px;
    padding-bottom: 10px;
    width: 1170px;
    padding: 0 15px 10px 15px;
    margin-left: auto;
    margin-right: auto;
}

#headerContainer a{
    padding-left: 20px;
}

#headerContainer img{
    height: 100%;
}

#topMenu{
    height: 31.64px;
    min-height: 20px;
    width: 100%;
    min-width: 820px;
    background-color: rgb(233,233,237);
    box-shadow: 0 -5px 10px #9c1010;
}

#nav{
    padding: 2px;
    background-color: rgb(233,233,237);
    height: 27.64px;
}

#navList {
    display: flex;

}

.itemMenu{
    display: flex;
    min-width: 45px;
    width: 25%;
    height: 27.64px;
    text-align: center;
    position: relative;
}
.itemMenu .itemOfItem{
    position: absolute;
    top:100%;
    line-height: 27.64px;
    color: #343434;
    font-size: 16px;
    font-family: Tahoma, Georgira, sans-serif;
    border: px solid rgb(199, 174, 174);
    box-shadow: 1px 1px 2px ;
}

.itemMenu .item a{
    display: block;
    color: #343434;
}

.itemMenu .itemOfItem .subitem{
    padding: 6px 18px 6px 6px;
    width : 300px;
    display: none;
    text-align: left;
    padding-left: 16px;
    background-color: #fff;
}

/* .itemMenu .itemOfItem a{
    width : 300px;
} */

.itemMenu .itemOfItem .subitem:hover{
    cursor: pointer;
    background-color: #9c1010;
    color: #fff;
}

.itemMenu:hover{
    cursor: pointer;
    background-color: #9c1010;
    color: #fff;
}

.itemMenu:hover .subitem{
    display: block;
}

.itemMenu:hover span{
    color: #fff;
}


#topMenu .down{
    float: right;
    height: 100%;
    padding: 3px 6px 3px 0;
    margin-left: 5px;
    margin-right: -20px;
}

#topMenu .contentItem{
    padding-left: 7px;
    padding-right: 21px;
    align-items: center;
    flex:1;
}

.contentItem img{
    width: 16px;
    height: 16px;
    color: rgba(0, 0, 0, 0);
    background-image: url("	https://ctt-sis.hust.edu.vn/DXR.axd?r=0_0-PugLk");
    background-position: -126px -126px;
    margin: 1px 5px 1px 0px;
}

.contentItem span{
    line-height: 27.64px;
    color: #343434;
    font-size: 16px;
    font-family: Tahoma, Georgira, sans-serif;
}



.down img{
    width: 7px;
    height: 4px;
    margin-bottom: 2.8px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("	https://ctt-sis.hust.edu.vn/DXR.axd?r=0_2946-PugLk");
    background-position-x: -343px;
    background-position-y: -131px;
}


#bottom-nav{
    padding: 5px 0px 30px 0px;
}



#container-bot a{
    line-height: 25px;
    display: block;
    float: left;
    font: 400 14px/25px arial;
    background-color: #eceeed;
    padding: 0 5px;
    border-left: 3px solid #9f224e;
    color: #9f224e;
}

#container-bot a:hover{
    text-decoration:underline;
}



#topMenu .btn{
    display: none;
    height: 50%;
    padding: -5px;
}

.btn:hover{
    opacity: 0.6;
}

#topMenu .btn img{
    display: block;
    height: 30px;
    width: 30px;

}

#topMenu .btn1{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

#topMenu .btn2{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}


#content{
    display: flex;
    padding-top: 10px;
    margin-top: 4px;
}

#left-content{
    width : 285px;
    min-width: 285px;
}

#left-content a:hover{
    opacity: 0.6;
    background-color: #dbe9f0;
    color: #3d0a0a;
}

#content h3{
    text-align: center;
    margin: 10px 0 5px 0;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #8c1515;

}

.left{
    padding: 3px 10px 20px 10px;   
    background-color: #f2f1eb;
    margin-bottom: 16px;
}

#student h3{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#avata-content{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    margin-right: 4px;
}

#badge{
    display: inline-block;
    font-size: 12px;
    color: #fff;
    border-radius: 10px;
    background-color: #9C1010;
    padding: 3px 7px;
    line-height: 1;
    margin-left: 5px;
    font-weight: 700;
}

.list>li{
    padding-left: 10px;
}

.list a{
    display: block;
    padding: 5px 7px;
    border-bottom: 1px solid #ccc;
    color: #337ab7;
    font: 13px 'Segoe UI','Helvetica Neue','Droid Sans',Arial,Tahoma,Geneva,Sans-serif;
    line-height: 2;
}



.train-item{
    position: relative;
}

.train-item:hover .sub{
    display: block;
    position: relative;
}

.train-item:hover .sub{
    display: block;
    position: relative;
}



.sub{
    display: none;
    position: absolute;
    
}

/* .sub{
    display: block;
    position: relative;
    
} */

.sub-train{
    padding-left: 10px;
}

.sub-train>a{
    padding: 0;
}

.train-list a{
    border-bottom: none;
}

.train-item>a, .sub-train>li{
    border-bottom: 1px solid #ccc;
}

.train-item img{
    height: 7px;
    margin-left: -18px;
    margin-right: 7px;
}

#right-content{
    flex:1;
}

#right-content>div>span{
    font-family: 'Segoe UI'!important;
    font-size: 16px !important;
    font-weight: bold;
    color: #8c1515 !important; 
    vertical-align: middle;
    line-height: 2em !important;
}

#right-content span{
    font-family: Times;
    font-size: 14px;
    line-height: 2em;
    color: #343434;
}

#right-content>div>div>span{
    font-family: Times;
    font-size: 14px;
    color: red;
    line-height: 2em;
    font-weight: bold;
}

#mainContent{
    margin-left: 15px;
}

.infor{
    width: 100%;
}

.infor h3{
    float: left;
    line-height: 2em;
}

.infor #checkbox{
    width: 30px;
    margin-left: 30px;

}

.infor #checkbox:hover{
    cursor: pointer;
    opacity: 0.6;
}

.myInfor>div{
    display: block;
}

.infor hr, .study hr{
    border: 3px solid #FF9900;
    margin: 20px 0;
    width: 90%;
}

#mainContent{
    width: calc(100% - 30px)
}

.infor-detail{
    width: 100%;
    display: flex;
}

.MSSV{
    line-height: 40px;
}

.img{
    width: 25%;
    text-align: center;
    padding: 0 15px;
}

.img img{
    display: inline-block;
    max-width: 100%;
    max-width: 200px;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 10px 10px 10px #807878;
}
.col1-infor{
    width: 33%;
    padding: 0 15px;
}

.col2-infor{
    width: 33%;
    padding: 0 15px;
}

.study-detail{
    width: 100%;
    display: flex;
}

.col1-study , .col2-study{
    width: 50%;
    padding: 0 20px;
}

.footerMain{
    width: 100%;
    float: left;
    background: url("	https://ctt-sis.hust.edu.vn/Content/Images/footer.jpg") no-repeat top;
    height: 100px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.footerRight{
    width: 35%;
    float: right;
    text-align: right;
    margin-right: 5%;
    color: #fff;
}

.footerRight hr{
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

#mainContent h3{
    color: red !important;
}


#right-content>div>span{
    font: 14px Times !important;
    font-weight: bold !important;
    color: red !important;
}

.col span{
    font-family: Times !important;
    font-size: 16px !important;
    font-weight: bold;
}

form span{
    font-weight: bold;
    color: red !important;
}

.btn-form{
    float: right;
}

.btn-form button{
    border: none;
    background: none;
    font-size: 16px;
    font-family: Times;
    font-weight: 900;
    margin: 20px;
}

button:hover{
    cursor: pointer;
    opacity: 0.6;
    color: red;
}

label{
    font: 14px Times !important;
    font-weight: bold !important;
    font-style: italic !important;
    line-height: 2em !important;

}

input, select{

    width: 300px;
    height: 1 ;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 2px 0 10px 10px;
    font-size: 14px;
    font-family: Times;
    font-weight: bold;
    line-height: 20px;
}

#sex{
    padding: 5px ;
    margin: 2px 0 10px 10px;
    width: 70px ;
}


.MSSV input{
    margin-top: 20px;
    margin-left: 10px;
    width: 100px;
    display: inline !important;
}

.study{
    margin-top: 30px;
}

.open{
    display: block !important;
}

.openflex{
    display: flex !important;
}

.hidden{
    display: none !important;
}

input:disabled, select:disabled {
    border: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
    -webkit-appearance: none !important;
    color: #000;
    opacity: 1;
    padding: 6px;
    margin: 2px 0 10px 10px;
}

.MSSV input:disabled{
    margin-top: 20px;
    margin-left: 10px;
    width: 100px;
}

.note span{
    font-size: 18px!important;
    color: black!important;
    font-weight: 100!important;
}
